#rooms {
    border-bottom: solid black 1px;
}

#main-form-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80vw;
    padding: 1rem;
    min-height: max-content;
    position: relative;
    height: fit-content;
    overflow: auto;
}

#full-guest-info {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 45vw;
    padding: 1rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.115);
    text-align: center;
    height: fit-content;
}

.guest-input-form{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.guest-input-form h2 {
    text-transform: uppercase;
    font-weight: 500;
}

.guest-input-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.guest-input-data input {
    width: 35%;
    margin: 0.5rem;
    height: 2rem;
    border: transparent;
    border-bottom: 2px solid rgba(52, 51, 51, 0.502);
}

.guest-input-data input:focus {
    outline: none;
    background-color: #cdcdcd52;
}

#guest-details {
    display: flex;
    margin: 1rem;
    padding-left: 4rem;
    height: 5rem;
}

#guest-details details summary {
    margin: 0.5rem;
    color: #1c1b1b;
    list-style-type: 'ᐯ ';
    font-weight: 500;
    float: inline-start;
}

#guest-details details summary::marker {
    color: #2c2b2a;
    font-size: 1.1rem;
  }

#guest-details [open] > summary {
    list-style-type: 'ᐱ ';
    
} 

#guest-details details textarea {
    margin: 0.5rem;
    max-height: 4rem;
    min-height: 3rem;
    border: transparent;
    border-bottom: 2px solid rgba(52, 51, 51, 0.502);
    width: 25rem;
    text-align: start;
    resize: none;
    overflow: hidden;
}

#guest-details details textarea:focus {
    outline:none;
    background-color: #cdcdcd52;
}

.additional-guest-form {
    margin-top: 1rem;
}
.additional-guest-form h4 {
    margin: 0.5rem;
    font-weight: 500;
}

#guest-acknowledgment{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 1rem;
    padding-left: 4rem;
    border-top: #52514f95 solid 2px;
    max-height: 10rem;
}

#guest-acknowledgment h3 {
    font-weight: 500;
    text-align: center;
    width: 90%;
    text-transform: uppercase;
}

.guest-agreemnet {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0;
}


/*#total-details {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    width: 24vw;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.115);
    height: 41.5rem;
    position: fixed;
    right: 9rem;
}*/
#total-details {
    display: flex;
    flex-direction: column;
    position: absolute; 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.115);
    right: 7rem;
    top: 1rem;
    width: 24vw;
    margin: 1rem;
    padding: 1rem;
    height: calc(100vh - 16rem); 
    overflow-y: auto;
}

.detailed-view {
    width: 100%;
    height: auto;
    margin-bottom: 0.3rem;
}

.detailed-view h2 {
    text-align: center;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.detailed-view ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.detailed-view p {
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
}

.detailed-view img {
    width: 24vw;
}

.price-summary {
    padding: 0 1.5rem;
    background: white;
    border-radius: 8px;
}

.price-summary h3  {
    margin: 0.3rem 0;
}

.price-summary p  {
    margin: 0.3rem 0;
    font-size: 0.8rem;
}


.price-summary .total-price {
    font-weight: 600;
    margin-top: 1rem;
    font-size: 1rem;
}

.error {
    color: #e74c3c;
    padding: 1rem;
    border: 1px solid #e74c3c;
    border-radius: 5px;
}

footer {
    position: relative;
    margin-top: auto;
    height: 4rem;
    border-top: 2px solid rgba(113, 104, 96, 0.457);
    width: 100%;
}

#footer-container ul li {
    list-style: none;
    font-size: 0.7rem;
    display: inline-block;
    margin: 0.5rem 2rem;
}

