* {
    font-family: "Montserrat", serif;
}

body {
    margin: 0;
    height: 100vh;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* полупрозрачный фон */
    display: none; /* скрыто по умолчанию */
    z-index: 3;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    display: none; /* скрыто по умолчанию */
    z-index: 1000; /* выше остальных элементов */
}

#modal #modal-container {
    display: flex;
    flex-direction: column;
}

#modal #modal-container label,
#modal #modal-container input {
    display: block;
    margin: 1rem;
    width: 22rem;
    text-align: center;
    height: 2rem;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    transition: 0.2s;
}

#modal #modal-container input:focus{
    outline: transparent;
    background-color: rgba(205, 205, 205, 0.531);
}

#modal #modal-container button {
    margin: 1rem;
    width: 10rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

#modal #modal-container button:hover{
    background-color: rgb(205, 205, 205);
}

#nav-menu a img {
    width: 5rem;
    height: 5rem;
}

#dining {
    border-bottom: solid black 1px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    
}

#photo-container-dining {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#name-photo-dining {
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    height: 30rem;
    width: 100vw;
    background-image: url(dining.png);
    background-size: cover;
}

#name-photo-dining::after {
    content: '';
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100vw;
    height: 30rem;
    background-color: rgba(149, 147, 147, 0.253); 
    z-index: 1; 
}

#photo-container-dining h1 {
    margin-top: -2.1rem;
    margin-bottom: 0;
    background-color: white;
    z-index: 2;
    padding: 1rem;
    letter-spacing: 0.3rem;
    font-weight: 500;
    width: 35rem;
    text-align: center;
}

#description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

#description-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
}

#description-text p{
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.8rem;
}

#description-text button {
    width: 17rem;
    height: 2.7rem;
    margin-top: 0.2rem;
    margin-bottom: 1.7rem;
    color: white;
    background-color: black;
    border: none;
    letter-spacing: 0.2rem;
}

#description-text button:hover {
    cursor: pointer;
}

.description-details {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-around;
    border-top: solid 1px black;
    padding: 1rem;
}

.details {
    display: flex;
    flex-direction: column;
    font-size: small;
}

.details h3,
.details p {
    margin: 0.1rem;
}