* {
    font-family: "Montserrat", serif;
}

body {
    margin: 0;
}

#nav-menu {
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    /*background: #8a878799*/;
}

#nav-menu ul {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
}

#nav-menu ul li {
    display: inline-block;
    margin: 1.2rem 4rem 1.5rem;
}

#nav-menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    letter-spacing: 0.2rem;
    transform: 0.2s;
    padding-bottom: 0.1rem;
}

#nav-menu ul li a:hover{
    cursor: pointer;
    border-bottom: solid black 1px;
}

#nav-menu a img {
    width: 5rem;
    height: 5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

#name-photo {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    height: 30rem;
    width: 100%;
    background-image: url(theme-beach1.jpg);
    background-size: cover;
    overflow: hidden;
}

#name-photo::after {
    content: '';
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    height: 30rem;
    background-color: rgba(77, 83, 76, 0.571); 
    z-index: 1; 
}
  
#name-photo h1 {
    margin: 2rem;
    font-size: 5rem;
    position: relative; 
    z-index: 2;
    color: rgb(255, 255, 255);
    letter-spacing: 0.3rem;
    flex-shrink: 1;
}

#description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11rem;
    margin: 0.5rem;

}

#description-text {
    width: 60vw;
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
    margin:0.5rem;
}

#amenities-demo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80vw;
    margin-bottom: 2rem;
}

.amenities-container {
    display: flex;
    flex-direction: column;
    height: 6rem;
    width: 5rem;
    padding: 0.2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    
}

.amenities-container p {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 500;
}

#accomodation-container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

#accomodation-container p {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

#buttons-rooms-list{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    margin: 2rem 0 0 0;
}

.rooms-buttons {
    border: 2px solid transparent;
    font-size: 1.2rem;
    background-color: transparent;
    transition: 0.2s;
}

.rooms-buttons:hover {
    cursor: pointer;
    border-bottom: 2px solid#1e1e1e;
}

.active-button {
    border-bottom: 2px solid #1e1e1e;
    font-weight: bold;
    color: #1e1e1e;
}

.suit-class {
    display: flex;
    flex-direction: row;
    padding: 2rem 2rem 4rem;
    margin: 2rem;
    height: 37rem;
    position: relative;
    width: 80vw;
}

.suit-class .container {
    position: relative;
}

.suit-class .container img {
    height: 37rem;
    width: 45vw;
}

.suit-class .container .btn {
    position: absolute;
    top: 50%; /* Центрирование по вертикали */
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    height: 10rem;
    width: 2rem;
    
}

.suit-class #prevBtn-1, 
.suit-class #prevBtn-2, 
.suit-class #prevBtn-3 {
     
    background: #cfc4c4a5;
    
}

.suit-class #nextBtn-1, 
.suit-class #nextBtn-2, 
.suit-class #nextBtn-3 {
    right: 0;
    background: #cfc4c4a5;
}

.suit-class-description {
    width: 35vw;
    background: #6d645c5b;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    justify-content: space-around;
    align-items: center;
    line-height: 0;
}

.suit-class-description .roomsLink {
    text-decoration : none;
    color: black;
}

#accomodation-container .suit-class .suit-class-description p{
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
}

.suit-class .suit-class-description ul{
    margin-top: 0;
    padding-left: 0;
}

.suit-class .suit-class-description ul li {
    display: block;
    line-height: 1.7rem;
}

.suit-class .suit-class-description button {
    
    width: 15rem;
    height: 3rem;
    border: none;
    background: #5a50479e;
    font-weight: 500;
    transition: 0.3s;
    
}

.suit-class .suit-class-description button:hover {
    cursor: pointer;
    background: #5a5047c6;
    font-weight: 600;
}

.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.faqs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70vw;
    margin-bottom: 6rem;
}

#faqs-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#faqs-title p{
    font-size: 1.3rem;
    font-weight: 600;
    border-bottom:  1px solid #424040;
    margin: 0.5rem;
    padding: 0.1rem;
}

.faqs-class {
    font-size: 1rem;
    border-bottom:  1px solid #424040;
}

main .faqs .faqs-class p {
    margin: 1rem;
    text-align: start;
    line-height: 1.5rem;
    color: black;
}

.faqs-class details summary {
    margin: 1rem;
    color: #1c1b1b;
    list-style-type: 'ᐯ ';
    font-weight: 600;
}

.faqs-class details summary::marker {
    color: #2c2b2a;
    font-size: 1.1rem;
  }

.faqs-class [open] > summary {
    list-style-type: 'ᐱ ';
} 

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    display: flex;
    height: 5rem;
    background-color: #6d645c5b ;
    width: 75vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}



  

